.menuItem {
  margin-bottom: 1em;
}

.menuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuDescription {
  font-size: medium;
  line-height: 1.8em;
  margin-top: 0;
}