---
// Component Imports
import Header from '../components/Header';
import MenuCard from '../components/MenuCard';
import data from '../data.js';

const 
  appetizers = data['appetizers'],
  mains = data['mains'],
  dessert = data['dessert'];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet">
		<style>
			@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
			html,
			body {
        font-size: 24px;
				font-family: 'Montserrat', sans-serif;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<main>
        <Header />
        <h1>Menu</h1>
        <div>
          <MenuCard 
            cardHeader="Appetizers"
            menuItems = {appetizers}
            />
          <MenuCard 
            cardHeader="Mains"
            menuItems = {mains}
            />
            <MenuCard 
            cardHeader="Dessert"
            menuItems = {dessert}
            />
        </div>
		</main>
	</body>
</html>
